* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.App{
    width: 800px;
}

.block{
    display: flex;
    flex-direction: row;
    padding: 15px;
    border: solid 2px #4abebe;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.block-enter {
    transform: translateY(-35px);
}
.block-enter-active {
    transform: translateY(0);

    transition: all 500ms ease-in;
}
.block-exit {
    opacity: 1;
}
.block-exit-active {
    transform: translateY(-35px);
    transition: all 500ms ease-in;
}
